@import '../custom';
@import '../components/mixins';

.data-table {
    color: $white !important;
    width: 100%;
    @include orbitronFont;

    label {
        color: $white !important;
        @include orbitronFont;
    }

    select {
        color: $white;
    }

    input[type="search"] {
        background-color: $purple !important;
        @include orbitronFont;
        color: $white !important;

        &:hover {
            border: 2px solid $green;
        }

        &:focus {
            border: 2px solid $green !important;
        }
    }
}

.data-table th {
    background-color: $green !important;
}

.data-table tr:nth-child(even) {
    background-color: $purple;
}

.data-table tr:nth-child(odd) {
    background-color: #4e00ff;
}

.data-table td, .data-table th {
    border: 1px solid $black;
    padding: 8px;
}

.data-table tr:hover {
    @include gradient;
}

.pressed-button {
    @include gradient;
    color: $white !important;
    border: 1px solid $green;
}

.unpressed-button {
    background-color: $purple !important;
    color: $white !important;
    border: 1px solid $green !important;
}

a#tblData_previous {
    background-color: $green !important;
    color: $white !important;
}

a#tblData_next {
    background-color: $green !important;
    color: $white !important;
}

a.paginate_button {
    background-color: $blue !important;
    color: $white !important;
}


