<div class="row">
    <div class="col-6">
        <a asp-action="Index" class="blue-button btn-lg form-control">Back to List</a>
    </div>
    <div class="col-6">
        <button type="submit" class="green-button btn-lg form-control">Create</button>
    </div>
</div>