@model int
<div class="row">
    <div class="col">
        <a asp-action="Index" class="blue-button btn-lg form-control">Back to List</a>
    </div>
    <div class="col">
        <button type="submit" class="green-button btn-lg form-control" asp-route-id="@Model">Update</button>
    </div>
</div>
