<div id="myModalSuccess" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header gradient-background">
                <h1>Success</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div id="myModalSuccessAlertBody" class="modal-body green-background orbitron-font text-center lead" 
                 style="margin-bottom: 0px !important;"></div>

            <div class="modal-footer gradient-background">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="myModalError" class="modal fade" role="dialog">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header gradient-background">
                <h1>Error</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div id="myModalErrorAlertBody" class="modal-body red-background orbitron-font text-center lead"
                 style="margin-bottom: 0px !important;"></div>

            <div class="modal-footer gradient-background">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
