@model ErrorViewModel
@{
    ViewData["Title"] = "Error";

    var imageId = new Random().Next(1, 7);
    var imagePath = $"/images/errors/error-{imageId}.gif";
}

<div class="container row">
    <div class="col-12 text-center">
        <h1 class="display-3 red-font text-center">Error</h1>
    </div>
    <div class="text-center col-12 col-lg-8 offset-lg-2">
        <img src="@imagePath" class="w-100 img-fluid" />
    </div>
    <div class="col-12 text-center mt-3">
        <h5><span class="red-font">@Model.Error.ErrorType:</span> @Model.Error.ErrorMessage</h5>
    </div>
</div>