@model LoginVM

@{
    ViewData["Title"] = "Login";
}

<div class="row mt-5">
    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <form class="user-form" asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="red-font"></div>

            @* LOGO *@
            <div class="text-center">
                <img src="~/images/icons/logo.png" class="logo" />
            </div>

            @* LOGIN FORM TITLE *@
            <div class="text-center">
                <h1 class="display-5">Login</h1>
            </div>

            @* EMAIL *@
            <div class="form-group">
                <label asp-for="Email" class="lead"></label>
                <input asp-for="Email" class="form-control user-input" value="user@user.com" />
                <span asp-validation-for="Email" class="red-font"></span>
            </div>

            @* PASSWORD *@
            <div class="form-group">
                <label asp-for="Password" class="lead"></label>
                <input asp-for="Password" class="form-control user-input" value="password" />
                <span asp-validation-for="Password" class="red-font"></span>
            </div>

            @* SUBMIT BUTTON *@
            <div class="form-group text-center">
                <button type="submit" class="blue-button">Login</button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
