@{
    @* Load status from query parameters *@
    var status = Context.Request.Query["status"];

    @* Standard status button CSS class *@
    var pending = "unpressed-button";
    var approved = "unpressed-button";
    var rejected = "unpressed-button";
    var all = "unpressed-button";

    @* Selected status button CSS class *@
    switch (status)
    {
        case "pending":
            pending = "pressed-button";
            break;
        case "approved":
            approved = "pressed-button";
            break;
        case "rejected":
            rejected = "pressed-button";
            break;
        default:
            all = "pressed-button";
            break;
    }

    ViewData["Title"] = "Orders";
}

<div class="border p-3 data-table">
    <div class="d-flex justify-content-between mb-3">

        @* PAGE TITLE *@
        <div class="p-2">
            <h1 class="display-3">Orders</h1>
        </div>
        <div class="p-2">

            @* ORDER STATUS FILTER BUTTONS *@
            <ul class="list-group list-group-horizontal-sm">
                <a style="text-decoration: none;" asp-controller="Orders" asp-action="Index" asp-route-status="pending">
                <li class="list-group-item @pending">Payment Pending</li>
                </a>

                <a style="text-decoration: none;" asp-controller="Orders" asp-action="Index" asp-route-status="rejected">
                <li class="list-group-item @rejected">Payment Rejected</li>
                </a>

                <a style="text-decoration: none;" asp-controller="Orders" asp-action="Index" asp-route-status="approved">
                <li class="list-group-item @approved">Payment Approved</li>
                </a>

                <a style="text-decoration: none;" asp-controller="Orders" asp-action="Index" asp-route-status="all">
                <li class="list-group-item @all">All</li>
                </a>
            </ul>
        </div>

    </div>
    <br /><br />

    @* ORDER LIST JAVASCRIPT DATATABLE *@
    <table id="tblData">
        <thead>
            <tr class="black-ops-font lead">
                <th>Id</th>
                <th>Email</th>
                <th>Order Date</th>
                <th>Payment Status</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
    </table>

</div>

@section Scripts{
    <script src="~/js/orders.js"></script>
}