@model Weapon

@{
    ViewData["Title"] = Model.Name;
}

<form method="post">
    <input type="hidden" asp-for="Price" />

    <h2 class="display-4">@Model.Name</h2>
    <div class="row">
        <div class="col-md-6">

            <img src="@Model.ImageUrl" class="d-block w-100" />
        </div>

        <div class="col-md-6">

            <div class="row">
                <div class="col-md-12">
                    <h4>@Model.Price.ToString("C")</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p class="description">
                        @Model.Description
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">

        @* "Add to Cart" and "Back to List" Button *@
        <div class="col-12 col-md-6 pb-1">
            <a asp-action="Index" class="btn btn-primary form-control  btn-square btn-lg" style="height:50px;">Back to List</a>
        </div>
        <div class="col-12 col-md-6 pb-1">

            <button type="submit" value="Add to Cart" class="btn btn-success btn-square btn-lg form-control" style="height:50px;">Add to Cart</button>

        </div>
    </div>
</form>
