@{
    @* Load status from query parameters *@
    var status = Context.Request.Query["status"];

    @* Standard status button CSS class *@
    var good = "text-primary";
    var bad = "text-primary";
    var all = "text-primary";

    @* Selected status button CSS class *@
    switch (status)
    {
        case "good":
            good = "active text-white";
            break;
        case "bad":
            bad = "active text-white";
            break;
        default:
            all = "active text-white";
            break;
    }

    ViewData["Title"] = "Deployments";
}


<div class="row">
    @* Create Deployment Button *@
    <div class="col-3">
        <a class="btn btn-primary" asp-action="Upsert"><i class="fas fa-plus"></i> &nbsp; Create New Deployment</a>
    </div>
</div>

<div class="border p-3 mt-2">
    <div class="d-flex justify-content-between mb-3">

        @* Page Header/Title *@
        <div class="p-2">
            <h2 class="text-primary">Deployments</h2>
        </div>
        <div class="p-2">

            @* Order Status Filter Buttons *@
            <ul class="list-group list-group-horizontal-sm">
                <a style="text-decoration: none;" asp-controller="Deployments" asp-action="Index" asp-route-status="good">
                <li class="list-group-item @good">Good Result</li>
                </a>

                <a style="text-decoration: none;" asp-controller="Deployments" asp-action="Index" asp-route-status="bad">
                <li class="list-group-item @bad">Bad Result</li>
                </a>

                <a style="text-decoration: none;" asp-controller="Deployments" asp-action="Index" asp-route-status="all">
                <li class="list-group-item @all">All</li>
                </a>
            </ul>
        </div>

    </div>
    <br /><br />

    @* Order List Javascript DataTable *@
    <table id="tblData" class="table table-striped table-bordered" style="width:100%">
        <thead class="thead-dark">
            <tr class="table-info">
                <th>Id</th>
                <th>Image</th>
                <th>Result Type</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
    </table>

</div>

@section Scripts{
    <script src="~/js/deployments.js"></script>
}