@{
    @* Load status from query parameters *@
    var status = Context.Request.Query["status"];

    @* Standard status button CSS class *@
    var good = "unpressed-button";
    var bad = "unpressed-button";
    var all = "unpressed-button";

    @* Selected status button CSS class *@
    switch (status)
    {
        case "good":
            good = "pressed-button";
            break;
        case "bad":
            bad = "pressed-button";
            break;
        default:
            all = "pressed-button";
            break;
    }

    ViewData["Title"] = "Deployments";
}


<div class="row">
    @* CREATE DEPLOYMENT BUTTON *@
    <div class="col-3">
        <a class="btn btn-secondary" asp-action="Upsert"><i class="fas fa-plus"></i> &nbsp; Create New Deployment</a>
    </div>
</div>

<div class="border p-3 mt-2 data-table">
    <div class="d-flex justify-content-between mb-3">

        @* PAGE TITLE *@
        <div class="p-2">
            <h1 class="display-3">Deployments</h1>
        </div>
        <div class="p-2">

            @* DEPLOYMENT RESULT FILTER BUTTONS *@
            <ul class="list-group list-group-horizontal-sm">
                <a style="text-decoration: none;" asp-controller="Deployments" asp-action="Index" asp-route-status="good">
                <li class="list-group-item @good">Good Result</li>
                </a>

                <a style="text-decoration: none;" asp-controller="Deployments" asp-action="Index" asp-route-status="bad">
                <li class="list-group-item @bad">Bad Result</li>
                </a>

                <a style="text-decoration: none;" asp-controller="Deployments" asp-action="Index" asp-route-status="all">
                <li class="list-group-item @all">All</li>
                </a>
            </ul>
        </div>

    </div>
    <br /><br />

    @* DEPLOYMENT LIST JAVASCRIPT DATATABLE *@
    <table id="tblData">
        <thead>
            <tr class="black-ops-font lead">
                <th>Id</th>
                <th>Image</th>
                <th>Result Type</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
    </table>

</div>

@section Scripts{
    <script src="~/js/deployments.js"></script>
}