<div class="modal fade" id="standard-modal" tabindex="-1" role="dialog" aria-labelledby="standard-modal-title" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="standard-modal-title">Standard Insurance Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>For 24 hours, you will be covered if your Mobile Suit happens to be damaged and need repairs.</p>
            </div>
            <div class="modal-footer">
                <p>Price: $3,000</p>
            </div>
        </div>
    </div>
</div>
