@model InsuranceVM
@{ ViewData["Title"] = "Purchase Insurance"; }

<div class="row">
    @* BACK TO USER MOBILE SUIT PAGE *@
    <a asp-controller="MobileSuitDeck" asp-action="Details" asp-route-id="@Model.UserMobileSuit.Id"
       class="col-12 col-md-6 col-lg-4 btn btn-info mb-2">Back to My Mobile Suit</a>
</div>

@* PAGE TITLE *@
<h1 class="display-3 text-center">Purchase Insurance For My @Model.UserMobileSuit.MobileSuit.Name</h1>

@* INSURANCE SELECTION *@
<div class="row insurance-details">
    <div class="col-12 col-md-4 mt-5 mb-5">
        @* STANDARD INSURANCE ICON *@
        <partial name="_StandardInsuranceIcon" />

        @* PURCHASE INSURANCE BUTTON *@
        <div class="col-12 col-lg-8 offset-lg-2 mt-2">
            <form method="post">
                <input type="hidden" asp-for="SelectedInsurance" value="Standard" />
                <input type="hidden" asp-for="UserMobileSuit.Id" />
                <button type="submit" class="btn btn-success form-control mt-2">Purchase</button>
            </form>
        </div>

        @* INSURANCE PLAN DETAILS *@
        <h3 class="text-center text-decoration-underline mt-4">Covers:</h3>
        <ul class="standard-insurance-font">
            <li>Mobile Suit Damage</li>
        </ul>
        <h5 class="text-center"><span class="text-decoration-underline">Duration:</span> 24 hours</h5>
        <h5 class="text-center"><span class="text-decoration-underline">Price:</span> <span class="green-font">$300</span></h5>
    </div>

    <div class="col-12 col-md-4 mt-5 mb-5">
        @* SUPER INSURANCE ICON *@
        <partial name="_SuperInsuranceIcon" />

        @* PURCHASE INSURANCE BUTTON *@
        <div class="col-12 col-lg-8 offset-lg-2 mt-2">
            <form method="post">
                <input type="hidden" asp-for="SelectedInsurance" value="Super" />
                <input type="hidden" asp-for="UserMobileSuit.Id" />
                <button type="submit" class="btn btn-success form-control mt-2">Purchase</button>
            </form>
        </div>

        @* INSURANCE PLAN DETAILS *@
        <h3 class="text-center text-decoration-underline mt-4">Covers:</h3>
        <ul class="super-insurance-font">
            <li>Mobile Suit Damage</li>
            <li>Weapon Damage</li>
        </ul>
        <h5 class="text-center"><span class="text-decoration-underline">Duration:</span> 24 hours</h5>
        <h5 class="text-center"><span class="text-decoration-underline">Price:</span> <span class="green-font">$400</span></h5>
    </div>

    <div class="col-12 col-md-4 mt-5 mb-5">
        @* ULTRA INSURANCE ICON *@
        <partial name="_UltraInsuranceIcon" />

        @* PURCHASE INSURANCE BUTTON *@
        <div class="col-12 col-lg-8 offset-lg-2 mt-2">
            <form method="post">
                <input type="hidden" asp-for="SelectedInsurance" value="Ultra" />
                <input type="hidden" asp-for="UserMobileSuit.Id" />
                <button type="submit" class="btn btn-success form-control mt-2">Purchase</button>
            </form>
        </div>

        @* INSURANCE PLAN DETAILS *@
        <h3 class="text-center text-decoration-underline mt-4">Covers:</h3>
        <ul class="ultra-insurance-font">
            <li>Mobile Suit Damage</li>
            <li>Weapon Damage</li>
            <li>Custom Weapon Damage</li>
        </ul>
        <h5 class="text-center"><span class="text-decoration-underline">Duration:</span> 24 hours</h5>
        <h5 class="text-center"><span class="text-decoration-underline">Price:</span> <span class="green-font">$500</span></h5>
    </div>
</div>
